* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f4f4f4d8;
}

.container {
    padding: 1em;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 55px;
}

.service-grid {
    padding-top: 5em;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.service-stacked {
    text-align: center;
    padding: 10px;
}

.footer {
    text-align: center;
    padding-top: 5em;
}